<div class="row g-4 mb-4" id="formulaireOuvrier">
    <div class="col-12 col-md-12">
        <div class="app-card app-card-settings shadow-sm p-4">
            <div class="app-card-body">
                <form class="settings-form" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="setting-input-1" class="form-label">Non du chantier</label>
                            <input class="form-control" name="intitule" placeholder="Nom du chantier" required>
                        </div>

                        <div class="col-4 mb-3">
                            <label for="setting-input-1" class="form-label">Ville</label>
                            <input class="form-control" name="ville" placeholder="Nom de la Ville" type="text" required>
                        </div>

                        <div class="col-4 mb-3">
                            <label for="setting-input-1" class="form-label">Quartier</label>
                            <input class="form-control" name="quartier" placeholder="Quartier" type="text" required>
                        </div>

                        <div class="col-4 mb-3">
                            <label for="setting-input-1" class="form-label">Pays</label>
                            <input class="form-control" value="Bénin" name="pays" placeholder="Nom du Pays" type="text" required>
                        </div>

                    </div>

                    <button type="submit" class="btn app-btn-primary">Enregistrer le chantier</button>
                </form>
            </div>
        </div>
    </div>
</div>